<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模型</title>
    <style>

        .backageChange.ng-invalid {
            background-color: lightblue;
        }
        .backageChange.ng-dirty {
            background-color: grey;
        }
        .backageChange.ng-touched {
            background-color: beige;
        }
    </style>
</head>
<body>
<div ng-app="app" ng-controller="ModuleController as controller">
    名字: <input ng-model="name">
    <p>------------------------------------</p>
    名字: <input ng-model="name1">
    <h1>你输入了: {{name1}}</h1>
    <p>------------------------------------</p>
    <form name="form1">
        Email:<input type="email" name="email" ng-model="text">
        <span style="color: red" ng-show="form1.email.$error.email">不是一个合法的邮箱地址</span>
    </form>
    <p>------------------------------------</p>
    <form name="form2">
        Email:
        <input type="email" name="email" ng-model="myText" required></p>
        <h5>输入的值是否合法：valid--{{form2.email.$valid}}</h5>
        <h5>值是否改变：dirty--{{form2.email.$dirty}}</h5>
        <h5>通过触屏点击：touched--{{form2.email.$touched}}</h5>
    </form>
    <p>------------------------------------</p>
    <form name="form3">
        Email:
        <input class="backageChange" type="email" name="email" ng-model="myText" required></p>
        编辑文本域，不同状态背景颜色会发送变化。文本域添加了 required 属性，该值是必须的，如果为空则是不合法的
    </form>
</div>



<!-- import AngularJS-->
<script type="application/javascript" src="/js/plugin/angular/1.6.6/angular.js"></script>

<script>
    var app = angular.module('app', []);
    app.controller('ModuleController', function($scope) {
        $scope.name = "John Doe";
    });
</script>
</body>
</html>